
h2 {
  text-align: center;
  color: white;
}
.nkcontainer {
  height: 650px;
  width: 45%;
  background-color: #222222;
  margin: auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin-top: 30px;
    margin-bottom: 20px ;
}
.name,
.number,
.address {
  height: 40px;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
.fname,
.Lname {
  margin-top: 20px;
  margin-left: 5%;
  height: 40px;
  width: 41.5%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
.number,
.address {
  margin-top: 20px;
}
.sing {
  height: 30px;
  width: 70px;
  margin-top: 20px;
  margin-left: 5%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
.sing:hover {
  background-color: rgb(181, 177, 177);
}
.check {
  margin-top: 20px;
  margin-left: 5%;
  border-radius: 5px;
  color: white;
}
#cb {
  color: white;
}
.btnaddress,
.btncancel {
  margin-top: 20px;
  margin-left: 5%;
  height: 40px;
  width: 43%;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
.btnaddress {
  background-color: black;
  color: white;
}
.btnaddress:hover {
  background-color: red;
  font-weight: 600;
}
.btncancel {
  background-color: black;
  color: white;
}
.btncancel:hover {
  background-color: rgb(253, 102, 102);
  color: white;
  font-weight: 600;
}
#home {
  background-color: white;
}
#addIns {
  padding-left: 10px;
}
