#cart{
font-size: 16px;}
#cart>div{
    width: 50%;
    margin-left: 20%;
}

#subcart>div{
    border: .5px solid rgb(97, 97, 97);
    height: 260px;
    margin-top: 50px;
}

#subcart>div .itemTitle{
    margin-left: 43%;
    margin-top: -225px;
}
#subcart>div .itemPrice{
    width: 60%;
    margin-left:80%;
    margin-top: -70px;
}
#subcart>div .itemSize{
    margin-left:43%;
    margin-top: 5%;
    font-size: 18px;
}
#subcart>div select{
    width: 15%;
    height: 40px;
    margin-left:43%;
    margin-top: 5%;
    font-size: 18px;
}
#cart img{
       width: 40%;  
       height: 259px;
       margin-top: -20px;
}
#subcart>div .cartclose{
    margin-left: 97.7%;
}
#subcart>div .cartclose:hover{
   cursor: pointer;
}
#subcart .checkout{
    margin-top: 10px;
    width: 220px;
    height: 50px;
    outline: none;
    background-color: black;
    color: aliceblue;
    font-size: 22px;
 }
