#footer_sectone_wrap {
  height: 120px;
  background-color: #ede734;
  display: flex;
}

#footer_sectone_wrap > h4 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0;
  margin-left: 16%;
}

#footer_sectone_wrap > div {
  width: 135px;
  height: 50px;
  background-color: black;
  color: #fff;
  border: 1px solid black;
  padding-left: 10px;
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
}

#footer_sectone_wrap > div > div {
  margin-top: 18px;
  font-size: 13px;
  font-weight: 600;
}

#footer_sectone_arrow_icon {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

#footer_secttwo_wrap {
  height: 270px;
  margin-top: 25px;
  margin-bottom: 45px;
}

#footer_secttwo_links_wrap {
  width: 1100px;
  margin-left: 130px;
  margin-top: 5px;
  display: flex;
}

.footer_secttwo_wrap_links {
  margin-right: 45px;
}

.footer_secttwo_wrap_links > li {
  list-style: none;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer_secttwo_wrap_links > li:hover {
  text-decoration: underline;
}

.footer_secttwo_mainlinks {
  text-decoration: none;
  color: black;
  opacity: 0.75;
}

.footer_secttwo_wrap_links > :nth-child(1) {
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer_secttwo_wrap_links > :nth-child(1):hover {
  text-decoration: none;
}

#footer_sectthree_wrap {
  border: 1px solid #363738;
  height: 105px;
  background-color: #363738;
  color: #c8cbcc;
}

#footer_sectthree_innerwrap {
  width: 1000px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#footer_sectthree_location {
  display: flex;
  height: 20px;
}

#footer_sectthree_location > img {
  width: 18px;
  height: 20px;
}

#footer_sectthree_location > span {
  letter-spacing: 0;
  font-size: 13px;
  height: 20px;
  text-align: center;
  margin-left: 8px;
  margin-top: 3px;
}

#footer_sectthree_links {
  display: flex;
  font-size: 12px;
  letter-spacing: 0;
  padding: 3px;
}

#footer_sectthree_links > div {
  padding-right: 13px;
  padding-left: 13px;
  font-weight: 300;
}

.footer_sectthree_linkoneandthree {
  border-right: 1px solid;
}

#footer_sectthree_copyright{
     font-size: 12px;
  letter-spacing: 0;
  width: 220px;
  margin-top: 40px;
  margin-left: 170px;
}
