.nac_wish_left{
    width: 70%;
    text-align: left;
    margin-left: 10px;
}

.nac_wish_right{
    width: 25%;
    text-align: left;
}

.nac_wish_right > h2{
    text-align: left;
    margin-left: 37px;
}

.nac_wright_a{
    list-style-type: none;
    text-align: left;
}

.nac_wright_a > li {
    margin-top: 10px;
    width: 300px;
}
.nac_black{
    color: black;
}

.nac_black:hover{
    color: white;
    background-color: black;
    width: 400px;
}

.nac_wishhead{
    font-weight: 1500;
}

#pro_container_wrap{
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.nac_wishbox{
    width: 300px;
    height: 400px;
    border: solid black 1px;
}

.nac_wishbox > img{
    width: 300px;
    height: 300px;
}

.nac_wishbox > p{
    font-weight: bold;
    text-align: center;
}

.nac_wisht{
    color: blue;
}

#wishlist_price{
    margin-top: 20px;
}