#signup_wrap{
background: #e9ecef;
width: 50%;
height: 600px;
margin: auto;
margin-top: 40px ;
font-family: AdihausDIN;
padding: 20px;
letter-spacing: 0;
margin-bottom: 30px;
}

#signup_header{
    font-size: 30px;
    font-weight: 800;
}

#signup_subheader{
    margin-top: 15px;
}

#signup_email_input>input{
    padding: 14px;
    width: 95%;
}

#signup_pass_input>input{
    padding: 14px;
    width: 95%;
}

#signup_pass_input{
    margin-top: 35px;
}

#signup_email_input{
    margin-top: 20px;
}

#signup_input_disclaim{
    font-size: 14px;
    margin-top: 8px;
    margin-left: 20px;
    opacity: 0.7;
}

#signup_age_checkbox{
  margin-top: 15px;
}

#signup_subscribe_checkbox{
  margin-top: 12px;
}

#signup_terms_checkbox{
 margin-top: 12px;
}

#signup_subscribe_checkbox>label>span{
    margin-left: 22px;
}

#signup_terms_checkbox>label>span{
    margin-left: 22px;
}

#signup_reg_btn{
    width: 150px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: AdihausDIN;
    display: flex;
}

#signup_age_checkbox>label{
    margin-left: 5px;
}

#signup_regicon{
    font-size: 35px;
    margin-left: 20px;
    margin-top: 5px;
}

#signup_reg_btn>:nth-child(1){
    margin-top: 15px;
    margin-left: 10px;
}

#OR_txt{
   margin-top: 20px;
}

#signup_fb_btn{
    border:1px solid black;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
}

#signup_fb_btn>:nth-child(1){
    font-weight:800;
    letter-spacing: 2px;
    font-size: 14px;
}

#signup_fbicon{
  margin-left: 180px;
  color:mediumblue;
  font-size: 20px;
  margin-top: 2px;
}

#facebook_signup_txt{
    margin-top: 5px;
}